__pycache__/
ai_training/networks/common_utils/ncc
ai_training/networks/common_utils/ncc_linux_x86_64.tar.xz
ai_training.egg-info/
build/
dist/
_configs/
projects/
logs/
*.tflite
*.h5
*.kmodel
*.txt
*.pyc
.vscode/
*.jpg
*.Ds_Store
*.mp4
*.xml
my_test/
*.bin
